body {
  font-size: 1rem;
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

h3 {
  font-size: 1.5rem;
  padding: 1%;
}

p {
  color: #8f8f8f;
}

/* Heading */
.big-heading{
  font-size: 3rem;
  font-weight: normal;
  line-height: 1.5;
  color: white;
  text-align: left;
}

.review-heading {
  font-size: 2rem;
  line-height: 4rem;
}




/* Container */
.container-fluid {
  padding: 3% 15% 7%;
}

/* section */
.colored-section {
  background-color: #1b262c;
  color: white;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Montserrat-light";
}

/* Dowbload buttons */
.downlooad-buttontop {
  margin: 5% 3% 5% 0;
  font-weight: normal;
  font-size: 1rem;

}

.download-buttondwn {
  margin: 3% 3% 5% 0;
  font-weight: bold;
  font-family: "Ubuntu"

}

/* Image */
.title-img {
  width: 50%;
  transform: rotate(25deg);
  margin-left: 40%;
  position: absolute;
}

/* fontawesome */
.fas:hover {
  color: #1b262c;
}

/* Icon */
.icon {
  color: #a4b494;
  margin-bottom: 1rem;
}

/* Feautrer section */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

/* Testimonial */
#testimonials {
  text-align: center;
}

.testimonials-img {
  width: 10%;
  margin: 20px;
  border-radius: 100%;
}

/* Slide show/ carousel */
.carousel-item {
  padding: 4% 15%;
}

#press {
  text-align: center;
  padding: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA */
#cta {
  text-align: center;
  padding: 7% 15%;
}

/* footer */
#footer {
  padding: 2% 4%;
  text-align: center;
  margin: 30px 30px;
}

.social-icon {
  margin: 25px 15px;
}

@media screen and (max-width: 1028px) {

  p {
    color: #8f8f8f;
    font-size: 1.5rem;
  }

  #testimonials {
    font-size: 2.5rem;
  }

  .title-img {
    position: static;
    transform: rotate(0);
    margin: 0 0;
  }

  #title {
    text-align: center;
  }

  #cta {
    margin-top: 5%;
  }


}
